.blog-container .blog-content{
    max-width: 400px;

}
.blog-image{
    justify-self: center;
}
.blog-container .blog-content img{
    max-width: 400px;
    border-radius: 10px;
    max-height: 200px;
}

.blog-content h3{
    text-align: center;
    font-weight: bolder;
    font-size: 15px;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;

}

.blog-container .blog-content .blog-text{
    max-width: 400px;
    text-align: center;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}
.blog-container{
    margin-bottom: 20px;
    margin-right: 10px;
    border-radius: 10px;
    padding: 15px;
    border: 0.5px solid burlywood;
}


@media (max-width: 854px) and (min-width: 100px) {
.blog-container .blog-content{
    max-width: 200px;
}
.blog-image{
    justify-self: left;
}
.blog-container .blog-content img{
    width: 100%;
}

.blog-content h3{
    text-align: left;
    font-weight: bolder;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    font-size: clamp(0.5rem, 1vw + 0.5rem, 3rem);
}

.blog-container .blog-content .blog-text{
    max-width: 200px;
    text-align: left;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}
.blog-container{
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 10px;
    padding: 5px;
    max-width: max-content;
    max-height: fit-content;
}

}

a{
    text-decoration: none;
    color: black;
}