*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*
Brass	#E1C16E
Camel	#C19A6B
Chocolate	#7B3F00
Coffee	#6F4E37
Cinnamon	#D27D2D
Copper	#B87333

..green
Lime Green	#32CD32
Neon Green	#0FFF50

..blue
Egyptian Blue	#1434A4
Neon Blue	#1F51FF
Ultramarine	#0437F2
Kelly Green	#4CBB17

*/