.divider-container{
    background-color: #6F4E37;
    width: 99%;
    display: flex;
    justify-content: center;
    gap: 3rem;
    color: #fff;
    font-weight: 700;
    padding: 15px;
    justify-self:center ;
    justify-items: center;
    margin-top: 0px;
}
.divider-container p{
    cursor: pointer;
}

.default-container{
    display: flex;
    justify-content: space-evenly;
    gap: 3rem;
    margin: 0px 20px;
}

.default-container .pravin-container{
    display: flex;
    max-width: 700px;
    border: 0.5px solid burlywood;
    padding: 20px;
    border-radius: 10px;
}

.default-container .pravin-container p{
    font-size: 20px;
}

.default-container .pravin-container .pravin-text-container{
    margin-right: 10px;
}

.default-container .pravin-container img{
    animation: FadeAway 3s ease;
    border-radius: 10px;
}
.default-container .paras-container{
    display: flex;
    max-width: 700px;
    border: 0.5px solid burlywood;
    padding: 20px;
    border-radius: 10px;
}

.default-container .paras-container p{
    font-size: 20px;

}
.default-container .paras-container .paras-text-container{
    margin-right: 10px;
}

.default-container .paras-container img{
    border-radius: 20px;
    animation: FadeAway 3s ease;
}

@keyframes FadeAway{
    0%{
        opacity: 0;

    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
 

@media (max-width:1143px) and (min-width:560px) {
.divider-container{
    background-color: #6F4E37;
    width: 99%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    color: #fff;
    font-weight: 700;
    padding: 11px;
    justify-self:center ;
    justify-items: center;
    margin-top: calc(-13% - 95px);

}  
}

@media (max-width:559px) and (min-width:100px) {
.divider-container{
    background-color: #6F4E37;
    width: 99%;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    color: #fff;
    font-weight: 300;
    padding:5px;
    justify-self:center ;
    font-size: 12px;
    justify-items: center;
    margin-top: calc(-25% - 95px);

}  
}
