.divider-container{
    background-color: #6F4E37;
    margin:10px 0px ;
    width: 99%;
    display: flex;
    justify-content: center;
    gap: 3rem;
    color: #fff;
    font-weight: 700;
    padding: 15px;
    justify-self:center ;
    justify-items: center;
    z-index: 1;
    position: relative;
}
.divider-container p{
    cursor: pointer;
}

.default-container{
    display: flex;
    justify-content: space-evenly;
    gap: 3rem;
    margin: 0px 20px;
}

.default-container .pravin-container{
    display: flex;
    max-width: 700px;
    border: 0.5px solid burlywood;
    padding: 20px;
    border-radius: 10px;
}

.default-container .pravin-container p{
    font-size: 20px;
}

.default-container .pravin-container .pravin-text-container{
    margin-right: 10px;
}

.default-container .pravin-container img{
    animation: FadeAway 3s ease;
    border-radius: 10px;
}
.default-container .paras-container{
    display: flex;
    max-width: 700px;
    border: 0.5px solid burlywood;
    padding: 20px;
    border-radius: 10px;
}

.default-container .paras-container p{
    font-size: 20px;

}
.default-container .paras-container .paras-text-container{
    margin-right: 10px;
}

.default-container .paras-container img{
    border-radius: 20px;
    animation: FadeAway 3s ease;
}

@keyframes FadeAway{
    0%{
        opacity: 0;

    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}


@media (max-width:940px) and (min-width:529px) {
.divider-container{
    margin-top: calc(-29% - 10px);
    gap: 1rem;
    font-weight: 700;
    font-size: 15px;
}
.default-container{
    display: flex;
    justify-content: space-evenly;
    gap: 3rem;
    margin: 0px 20px;
}
.default-container .pravin-container{
    display: flex;
    max-width: 700px;
    border: 0.5px solid burlywood;
    padding: 20px;
    border-radius: 10px;
}

.default-container .pravin-container p{
    font-size: 20px;
}

.default-container .pravin-container .pravin-text-container{
    margin-right: 10px;
}

.default-container .pravin-container img{
    animation: FadeAway 3s ease;
    border-radius: 10px;
}
.default-container .paras-container{
    display: flex;
    max-width: 700px;
    border: 0.5px solid burlywood;
    padding: 20px;
    border-radius: 10px;
}

.default-container .paras-container p{
    font-size: 20px;

}
.default-container .paras-container .paras-text-container{
    margin-right: 10px;
}

.default-container .paras-container img{
    border-radius: 20px;
    animation: FadeAway 3s ease;
}    
}



@media (max-width:528px) and (min-width:100px) {
.divider-container{
    margin-top: calc(-33% - 60px);
    width: 99%;
    gap: 0.5rem;
    font-weight: 400;
    padding: 15px;
    font-size: 10px;
}
.default-container{
    display: flex;
    justify-content: space-evenly;
    gap: 3rem;
    margin: 0px 20px;
}
.default-container .pravin-container{
    display: flex;
    max-width: 700px;
    border: 0.5px solid burlywood;
    padding: 20px;
    border-radius: 10px;
}

.default-container .pravin-container p{
    font-size: 20px;
}

.default-container .pravin-container .pravin-text-container{
    margin-right: 10px;
}

.default-container .pravin-container img{
    animation: FadeAway 3s ease;
    border-radius: 10px;
}
.default-container .paras-container{
    display: flex;
    max-width: 700px;
    border: 0.5px solid burlywood;
    padding: 20px;
    border-radius: 10px;
}

.default-container .paras-container p{
    font-size: 20px;

}
.default-container .paras-container .paras-text-container{
    margin-right: 10px;
}

.default-container .paras-container img{
    border-radius: 20px;
    animation: FadeAway 3s ease;
}    
}

/*
--Shades of brown
#A0522D
#80461B
#6F4E37 -coffee
#7B3F00

--cream
	#FFFDD0
*/