.testimonials-container{
    background-color: #6F4E37;
    margin:20px 0px ;
    width: 99%;
    display: flex;
    justify-content: center;
    gap: 3rem;
    color: #fff;
    font-weight: 700;
    padding: 5px;
    justify-self:center ;
    justify-items: center;
    z-index: 1;
    
}

.testimonial{
    display: flex;
    margin-bottom: 20px;
}

.testimonial .testimonial-image{
    margin: 5px;
    justify-self: center;
}

.testimonial .testimonial-image img{
    max-width: 20px;
}

.testimonials-details-detail{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.testimonial-name{
    justify-self: center;
}

.testimonial-name p{
    font-style: italic;
}
.testimonial-description{
    margin: 0px 10px;
}

.testimonial-images{
    display: flex;
    margin-left: 50px;
    margin-bottom: 20px;
}
.testimonial-image{
    display: flex;
    gap: 1rem;
}
.testimonial-image img{
    max-width: 300px;
    border-radius: 10px;
}
.testimonial-image-text{
    max-width: 50%;
}

.testimonial-btn button{
    width: 300px;
    background-color: white;
    border: 2px solid burlywood;
    border-radius: 3px;
}

.testimonial-btn button:hover{
    cursor: pointer;
    background-color: #6F4E37;
    border: 2px solid black;
    color: white;
    font-weight:600;
    padding: 10px;
    transition: 1s ease-in;
}


@media (max-width: 1200px) and (min-width:951px) {
.testimonials-container{
    margin:5px 0px ;
    gap: 1rem;
}

.testimonial{
    margin-bottom: 10px;
}

.testimonial .testimonial-image{
    margin: 5px;
    justify-self: center;
}

.testimonial .testimonial-image img{
    max-width: 20px;
    max-height: 20px;
}

.testimonials-details-detail{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.testimonial-name{
    justify-self: center;
}

.testimonial-name p{
    font-style: italic;
}
.testimonial-description{
    margin: 0px 10px;
}

.testimonial-images{
    display: flex;
    flex-direction: column-reverse;
    margin-left: 10px;
    margin-bottom: 20px;
}
.testimonial-image{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.testimonial-image img{
    max-width: 100%;
    max-height: 10%;
}

.testimonial-image2 img{
    width: 100%;
}
.testimonial-image-text{
    max-width: 100%;
    font-size: 32px;
}
.testimonial-btn button{
    width: 100%;
    font-size: 20px;
    font-weight: 900;
    padding: 20px;
    border: 3px solid burlywood;

}

   
}

@media (max-width: 950px) and (min-width: 100px) {
.testimonials-container{
    margin:5px 0px ;
    gap: 1rem;
}

.testimonial{
    margin-bottom: 10px;
}

.testimonial .testimonial-image{
    margin: 5px;
    justify-self: center;
}

.testimonial .testimonial-image img{
    max-width: 20px;
    max-height: 20px;
}

.testimonials-details-detail{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.testimonial-name{
    justify-self: center;
}

.testimonial-name p{
    font-style: italic;
}
.testimonial-description{
    margin: 0px 10px;
}

.testimonial-images{
    display: flex;
    flex-direction: column-reverse;
    margin-left: 10px;
    margin-bottom: 20px;
}
.testimonial-image{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.testimonial-image img{
    max-width: 100%;
    max-height: 10%;
}

.testimonial-image2 img{
    width: 100%;
}
.testimonial-image-text{
    max-width: 100%;
}
.testimonial-btn button{
    width: 100%;
}

}


