.footer-container{
    display: flex;
    justify-content: space-between;
    padding:0px 20px;
    height: 20vh;
}

.footer-left{
    max-width: 100%;
}
.footer-left h3{
    color: black;
    text-decoration: underline;
    cursor: pointer;
}
.footer-left p{
    margin-bottom: 10px;
    cursor: pointer;
}
.footer-left p:nth-child(2){
    margin-top: 10px;
}
.footer-right{
    max-width: 100%;
    z-index: 0;
}
.footer-right h3{
    color: black;
    text-decoration: underline;
}
.footer-right p{
    margin-bottom: 10px;
    cursor: pointer;
}
.footer-right p:nth-child(2){
    margin-top: 10px;
}