.cart-container{
    width: 100%;
}
.cart-back-btn{
    max-width: 100%;
}
.cart-back-btn button{
    padding: 5px 20px;
    margin-left: 10px;
    background-color: burlywood;
    color: white;
    outline: 0;
    border: 0;
    border-radius: 5px;
}

.cart-back-btn button:hover{
    cursor: pointer;
}
.cart-header{
    margin-left: 20px;
    margin-top: 20px;
}
.cart-container hr{
    margin: 20px 10px;
    border:0.5px solid #6F4E37;
}

.cart-top{
    padding:0px 20px;
    display: flex;
    justify-content: space-between;
}

.cart-top-right{
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}



.cart-center{
    display: flex;
    justify-content: space-between;
    padding:0px 20px;
}
.cart-center img{
    max-width: 70px;
}
.cart-center-left{
  display: flex;

}

.cart-center-right{
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}

.cart-center-right-right{
    align-self: center;
}

.cart-center-right-left{
    align-self: center;
}

.cart-center-left-right {
    max-width: 100%;
}
.cart-center-left-right button{
    padding: 5px 20px;
    background-color: #6F4E37;
    color: white;
    outline: 0;
    border: 0;
    border-radius: 5px;
}
.cart-center-left-right button:hover{
    cursor: pointer;
}
.cart-footer{
    display: flex;
    justify-content: space-between;
}
.cart-footer .cart-left{
    margin-left: 20px;
}

.cart-left button{
    padding: 8px 30px;
    background-color: #6F4E37;
    color: white;
    outline: 0;
    border: 0;
    border-radius: 5px;
}

.cart-right{
    margin-right: 20px;
}
.cart-right button{
    width: 100%;
    padding: 10px 30px;
    background-color: rgb(72, 182, 72);
    outline: 0;
    border: 0;
    border-radius: 5px;
    color: white;
}

.cart-footer button:hover{
    cursor: pointer;
}

@media (max-width:451px) and (min-width:50px) {
.cart-back-btn button{
    margin-left: 20px;
}
.cart-container hr{
    margin: 5px 5px;
}
.cart-top{
    padding:0px 10px;
}

.cart-top-right{
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}

.cart-center{
    display: flex;
    justify-content: space-between;
    padding:0px 10px;
}
.cart-center img{
    max-width: 50px;
}
.cart-center-left{
  flex-direction: column;
}

.cart-center-right{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.cart-center-left-right button{
    padding: 5px 10px;
}
.cart-footer{
    flex-direction: row-reverse;
    margin: 10px;
}
.cart-footer .cart-left{
    margin-left: 20px;
}

.cart-left button{
    padding: 8px 40px;
    background-color: #6F4E37;
    font-size: 15px;
}

.cart-right button{
    width: 100%;
    padding: 10px 25px;
}

}