.loader-container{
    width: 100%;
    justify-self: center;
    justify-content: center;
    height: 100%;
}

.loader-widget{
    width: 100px;
    height: 100px;
    border: 2px solid #6F4E37;
    border-radius: 50%;
    justify-self: center;
    animation: Loading 1s infinite;
}

.loader-text{
    justify-self: center;
    margin-top: 15px;
    font-size: 20px;
}

@keyframes Loading {
    0%{
        border-left: 10px solid #6F4E37;
    }
    25%{
        border-bottom: 10px solid #6F4E37;
    }50%{
        border-right: 10px solid #6F4E37;

    }75%{
        border-top: 10px solid #6F4E37;

    }100%{
         border: 1px solid #6F4E37;
    }
}