.achievements-container{
    background-color: #6F4E37;
    margin:20px 0px ;
    width: 99%;
    display: flex;
    justify-content: center;
    gap: 3rem;
    color: #fff;
    font-weight: 700;
    padding: 5px;
    justify-self:center ;
    justify-items: center;
    z-index: 1;
}
.achievements-details-container{
    display: flex;
    justify-content: center;
    gap: 5rem;
    cursor: pointer;
    margin-bottom: 20px;
}

.achievements-employees{
    border-color: red;
    border: 1px solid red;
    border-left: 5px solid red;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 50px 35px;
    font-weight: 600;
}

.achievements-farmer{
    border: 1px solid green;
    border-left: 5px solid green;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 40px 30px;
    font-weight: 600;
}

.achievements-farmer:hover{
    animation: RotateRound 1000ms ease-in-out;
}
.achievements-employees:hover{
    animation: RotateRound 1000ms ease-in-out;
}
.achievements-timely:hover{
    animation: RotateRound 1000ms ease-in-out;
}
.achievements-quality:hover{
    animation: RotateRound 1000ms ease-in-out;
}

.achievements-timely{
    border: 1px solid blue;
    border-left: 5px solid blue;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 45px 38px;
    font-weight: 600;
    font-size: 15px;
}

.achievements-quality{
    border: 1px solid black;
    border-left: 5px solid black;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 55px 20px;
    font-weight: 600;
}
.achievements-quality .achievements-quality-image{
    position: relative;
    bottom: 50px;
    left: 104px;
}

.achievements-quality .achievements-quality-image img{
    max-width: 40px;
}

.achievements-employees .achievements-employees-image{
    position: relative;
    bottom: 40px;
    left: 86px;
}

.achievements-employees .achievements-employees-image img{
    max-width: 40px;
}

.achievements-farmer .achievements-farmer-image{
    position: relative;
    bottom: 50px;
    left: 95px;
}

.achievements-farmer .achievements-farmer-image img{
    max-width: 40px;
}

.achievements-timely .achievements-timely-image{
    position: relative;
    bottom: 60px;
    left: 85px;
}

.achievements-timely .achievements-timely-image img{
    max-width: 40px;
}

.achievements-images{
    display: flex;
    justify-content: center;
    margin: 10px 10px;
}

.achievements-images .achievement-image{
    display: flex;
    flex-direction: row;
    gap:0.6rem;
    max-width: 50%;
    margin: 10px;
}

.achievements-images .achievement-image img{
    max-width: 300px;
    border-radius: 10px;

}


@keyframes RotateRound{
    0%{
        border-left: 5px;
    }
    25%{
        border-bottom: 5px ;
    }
    50%{
        border-right: 5px;

    }
    75%{
        border-top: 5px;
    }
    100%{
        border-left: 5px;
    }
}

@media (max-width: 1152px) and (min-width: 670px) {
.achievements-container{
    margin:5px 0px ;
    width: 99%;
    display: flex;
    gap: 2rem;
}
.achievements-details-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-evenly;
    gap: 1rem;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 10px;
}

.achievements-employees{
    font-size: 12px;
}

.achievements-farmer{
    font-size: 12px;
}

.achievements-timely{
    font-size: 12px;
}

.achievements-quality{
    font-size: 12px;
}

.achievements-images{
    flex-direction: column-reverse;
    margin: 10px 10px;
}

.achievements-images .achievement-image{
    flex-direction: column;
    max-width: 100%;
    margin: 5px;
}

.achievements-images .achievement-image img{
    max-width: 100%;
}    
}

@media (max-width: 669px) and (min-width: 100px) {
.achievements-container{
    margin:5px 0px ;
    width: 99%;
    display: flex;
    gap: 2rem;
}
.achievements-details-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    gap: 1rem;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 10px;
}
.achievements-employees{
    font-size: 12px;
}

.achievements-farmer{
    font-size: 12px;
}

.achievements-timely{
    font-size: 12px;
}

.achievements-quality{
    font-size: 12px;
}

.achievements-images{
    flex-direction: column-reverse;
    margin: 10px 10px;
}

.achievements-images .achievement-image{
    flex-direction: column;
    max-width: 100%;
    margin: 5px;
}

.achievements-images .achievement-image img{
    max-width: 100%;
}    
}


