.header-container{
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
}

.header-left{
    flex: 1;
    max-width: 100%;
}
.header-left img{
    max-width: 40%;
}

.header-left img:hover{
    cursor: pointer;
}

.header-right{
    max-width: 100%;
}

.header-right .header-top{
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.header-right .header-top{
    text-align: right;
}

.header-right .header-bottom .header-btn{
    max-width: 100%;
}

.header-right .header-bottom .header-btn button{
    width: 100%;
    background-color: black;
    outline: 0;
    border: 0;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.header-right .header-bottom .header-btn button:hover{
    cursor: pointer;
}
