.header-container{
    display: flex;
    justify-content: space-between;
    background-color: #C19A6B;
    width: 100%;
    height: 100%;
}

.header-left{
    flex: 1;
    max-width: 100%;
    margin-left: 20px;
    margin-top: 10px;
}
.header-left img{
    max-width: 40%;
}

.header-left img:hover{
    cursor: pointer;
}

.header-right{
    max-width: 100%;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.header-right .header-top{
    color: white;
    font-size: 20px;
    font-weight: 700;
    justify-self: center;
    margin-bottom: 5px;
}

.header-right .header-top{
    text-align: right;
}

.header-right .header-bottom .header-btn{
    max-width: 100%;
}

.header-right .header-bottom .header-btn button{
    width: 100%;
    background-color: black;
    outline: 0;
    border: 0;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.header-right .header-bottom .header-btn button:hover{
    cursor: pointer;
}

/*
/*
Brass	#E1C16E
Camel	#C19A6B
Chocolate	#7B3F00
Coffee	#6F4E37
Cinnamon	#D27D2D
Copper	#B87333
*/
