.contact-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2rem;
    flex-wrap: wrap;
    margin: 20px;
}
.contact-form{
    flex: 1;
}
form{
    width: 100%;
}

form input{
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    outline: 0;
    border: 1px solid black;
    border-radius: 5px;
}

form textarea{
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    outline: 0;
    border: 1px solid black;
    border-radius: 5px;
}

.contacts-header{
    text-decoration: underline;
    margin-bottom: 10px;
}
.contacts-header h1{
    font-size: 30px;
}
.contact-form-btn{
    display: flex;
    justify-self: center;
    width: 100%;
}

.contact-form-btn button{
 background-color: #6F4E37;
 width: 100%;
 padding: 20px;
 width:100%;
 border-radius: 5px;
 outline: 0;
 border: 1px solid white;
 color:  white;
 font-weight: 800;
}
.contact-form-btn button:hover{
    cursor: pointer;
    font-size: 16px;
}
.contact-container .contact-map{
    flex: 1;
}

@media (max-width:1000px) and (min-width:100px) {
.contact-container{
    flex-direction: column;
    gap: 1rem;
    margin: 20px;
    flex-wrap: wrap;
}
.contact-form{
    flex: 1;
}
form{
    width: 100%;
}

form input{
    width: 90%;
    padding: 20px;
    margin-bottom: 20px;
    outline: 0;
    border: 1px solid black;
    border-radius: 5px;
}

form textarea{
    width:90%;
    padding: 20px;
    margin-bottom: 20px;
    outline: 0;
    border: 1px solid black;
    border-radius: 5px;
}

.contacts-header{
    text-decoration: underline;
    margin-bottom: 10px;
}
.contacts-header h1{
    font-size: 30px;
}
.contact-form-btn{
    display: flex;
    justify-self: flex-start;
    width: 90%;
}

.contact-form-btn button{
 background-color: #6F4E37;
 width: 90%;
 padding: 20px;
 width:100%;
 border-radius: 5px;
 outline: 0;
 border: 1px solid white;
 color:  white;
 font-weight: 800;
}
.contact-form-btn button:hover{
    cursor: pointer;
    font-size: 16px;
}
.contact-container .contact-map{
    flex: 1;
} 
}