@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300..900&display=swap');

.hero-container{
    justify-self: left;
    margin-left: 20px;
}
.hero-container .hero-slider{
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
}
.hero-container .hero-slider .hero-text{
    justify-self: center;
    align-self: center;
    max-width: 100%;
}
.hero-container .hero-slider .hero-text h1 {
    font-family: "Sansita Swashed", system-ui;
    font-optical-sizing: auto;
    font-size: clamp(1rem, 5vw + 5rem, 5rem);
}

.hero-container .hero-slider .hero-text h2 {
    font-family: "Sansita Swashed", system-ui;
    font-optical-sizing: auto;
    font-size: clamp(1rem, 5vw + 5rem, 5rem);
}

.hero-container .hero-slider .hero-text p {
    font-family: "Sansita Swashed", system-ui;
    font-optical-sizing: auto;
    font-size: clamp(1rem, 5vw + 5rem, 5rem);
}

.hero-container .hero-slider .hero-text p{
    animation: FadeAwayText 1s ease;
}

.hero-container .hero-slider .hero-slider-images img{
    border-radius: 20px;
    width: 900px;
    animation: FadeAway 3s ease;
}
.hero-text{
    font-family: "Syne Mono", monospace; 
}

.hero-text-btn button{
    width: 100%;
    margin-top: 20px;
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px solid white;
    background: burlywood;
}
.hero-text-btn button:hover{
    cursor: pointer;
    background-color: #6F4E37;
    color: white;
    border: 1px solid white;
    transition: 0.5s ease;
}
@keyframes FadeAway{
    0%{
        opacity: 0;

    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}

@keyframes FadeAwayText{
    0%{
        font-size: 20px;

    }
    25%{
        font-size: 40px;
    }
    50%{
        font-size: 60px;
    }
    75%{
    font-size: 80px;
    }
    100%{
        font-size: 100px;
    }
}

@media (max-width:2565px) and (min-width:2000px) {
.hero-container{
    justify-self: left;
    margin-left: 20px;
}
.hero-container .hero-slider{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
}
.hero-container .hero-slider .hero-text{
    position: relative;
    color: white;
    right: calc(25% - 100px);
    bottom: 800px;
}
.hero-container .hero-slider .hero-text h1 {
    font-family: "Sansita Swashed", system-ui;
    font-optical-sizing: auto;
    font-size: clamp(5rem, 5vw + 8rem, 10rem);
}

.hero-container .hero-slider .hero-text h2 {
    font-family: "Sansita Swashed", system-ui;
    font-optical-sizing: auto;
    font-size: clamp(5rem, 5vw + 8rem, 10rem);
}

.hero-container .hero-slider .hero-text p {
    font-family: "Sansita Swashed", system-ui;
    font-optical-sizing: auto;
    font-size: clamp(5rem, 5vw + 8rem, 10rem);
}

.hero-container .hero-slider .hero-text p{
    animation: FadeAwayText 1s ease;
}

.hero-container .hero-slider .hero-slider-images img{
    border-radius: 20px;
    width: 100%;
    animation: FadeAway 3s ease;
}
.hero-text{
    font-family: "Syne Mono", monospace; 
}

.hero-text-btn button{
    width: 100%;
    margin-top: 20px;
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px solid white;
    background: burlywood;
}
.hero-text-btn button:hover{
    cursor: pointer;
    background-color: #6F4E37;
    color: white;
    border: 1px solid white;
    transition: 0.5s ease;
}

}
/*Mobile Devices
/* font-size: clamp([minimum size], [preferred fluid size], [maximum size]); */
@media (max-width:1350px) and (min-width:1144px) {
.hero-container{
    justify-self: left;
    margin-left: 20px;
}
.hero-container .hero-slider{
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}
.hero-container .hero-slider .hero-text{
    justify-self: center;
    align-self: center;
    max-width: 100%;
}
.hero-container .hero-slider .hero-text h1 {
    font-family: "Sansita Swashed", system-ui;
    font-optical-sizing: auto;
    font-size: clamp(1rem, 2vw + 3rem, 4rem);
}

.hero-container .hero-slider .hero-text h2 {
    font-family: "Sansita Swashed", system-ui;
    font-optical-sizing: auto;
    font-size: clamp(1rem, 2vw + 3rem, 4rem);
}

.hero-container .hero-slider .hero-text p {
    font-family: "Sansita Swashed", system-ui;
    font-optical-sizing: auto;
    font-size: clamp(1rem, 2vw + 3rem, 4rem);
}

.hero-container .hero-slider .hero-text p{
    animation: FadeAwayText 1s ease;
}

.hero-container .hero-slider .hero-slider-images img{
    border-radius: 20px;
    width: 700px;
    animation: FadeAway 3s ease;
}
.hero-text{
    font-family: "Syne Mono", monospace; 
}

.hero-text-btn button{
    width: 100%;
    margin-top: 20px;
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px solid white;
    background: burlywood;
}
.hero-text-btn button:hover{
    cursor: pointer;
    background-color: #6F4E37;
    color: white;
    border: 1px solid white;
    transition: 0.5s ease;
} 
}


@media (max-width:1143px) and (min-width:453px) {
.hero-container{
    justify-self: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
}
.hero-container .hero-slider{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
}
.hero-container .hero-slider .hero-text{
    position: relative;
    color: white;
    right: calc(38% - 100px);
    bottom: 300px;
}
.hero-container .hero-slider .hero-text h1 {
    font-size: clamp(2rem, 8vw + 1rem, 3rem);
}

.hero-container .hero-slider .hero-text h2 {
     font-size: clamp(2rem, 5vw + 1rem, 3rem);
}

.hero-container .hero-slider .hero-text p {
     font-size: clamp(2rem, 10vw + 1rem, 3rem);
}


.hero-container .hero-slider .hero-slider-images img{
    border-radius: 20px;
    width: 100%;
}


.hero-text-btn button{
    width: 100%;
    margin-top: 10px;
}
   
}

/*Mobile Devices 2*/

@media (max-width:452px) and (min-width:100px) {
.hero-container{
    margin-bottom: 0px;
}
.hero-container .hero-slider{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
}
.hero-container .hero-slider .hero-text{
    position: relative;
    color: white;
    right: calc(38% - 100px);
    bottom: 230px;
}
.hero-container .hero-slider .hero-text h1 {
    font-size: clamp(2rem, 8vw + 1rem, 2rem);
}

.hero-container .hero-slider .hero-text h2 {
     font-size: clamp(2rem, 5vw + 1rem, 3rem);
}

.hero-container .hero-slider .hero-text p {
     font-size: clamp(2rem, 10vw + 1rem, 3rem);
}


.hero-container .hero-slider .hero-slider-images img{
    border-radius: 20px;
    width: 100%;
}


.hero-text-btn button{
    width: 100%;
    margin-top: 10px;
}
   
}
