.blogs-header{
    background-color: #6F4E37;
    margin:10px 0px ;
    width: 99%;
    display: flex;
    justify-content: center;
    gap: 3rem;
    color: #fff;
    font-weight: 700;
    padding: 6px;
    justify-self:center ;
    justify-items: center;

}

.blogs-container{
    padding: 20px;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
}
@media (max-width: 1500px) and (min-width: 1001px) {
   .blogs-header{
    margin:5px 0px ;
    gap: 1rem;
    padding: 6px;
}

.blogs-container{
    padding: 20px;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    overflow: auto;
} 
}

@media (max-width: 1000px) and (min-width: 854px) {
   .blogs-header{
    margin:5px 0px ;
    gap: 1rem;
    padding: 6px;
}

.blogs-container{
    padding: 20px;
    display: grid;
    grid-template-columns:1fr 1fr;
} 
}

@media (max-width:600px) and (min-width: 100px) {
   .blogs-header{
    margin:5px 0px ;
    gap: 1rem;
    padding: 6px;
}

.blogs-container{
    padding: 20px;
    display: grid;
    overflow: auto;
    grid-template-columns:1fr 1fr;
} 
}

