
/*
--Shades of brown
#A0522D
#80461B
#6F4E37 -coffee
#7B3F00

--cream
	#FFFDD0
  font-family: "Poppins", sans-serif;
  font-family: "Josefin Sans", sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Prata&family=SN+Pro:ital,wght@0,200..900;1,200..900&family=Sansita+Swashed:wght@300..900&family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Prata", serif;  
  font-weight: 400;
  font-optical-sizing: auto;
}

/*
Brass	#E1C16E
Camel	#C19A6B
Chocolate	#7B3F00
Coffee	#6F4E37
Cinnamon	#D27D2D
Copper	#B87333

..green
Lime Green	#32CD32
Neon Green	#0FFF50

..blue
Egyptian Blue	#1434A4
Neon Blue	#1F51FF
Ultramarine	#0437F2
Kelly Green	#4CBB17

*/