.single-blog-container{
    max-width: 100%;
}

.single-blog-image{
    max-width: 100%;
    margin: 20px;

}

.single-blog-container .single-blog-image img{
    max-width:100%;
    border-radius: 10px;
}

.single-blog-container .single-blog-text{
    margin-left: 20px;
}

.single-blog-container .single-blog-text h1{
    text-decoration: underline;
    color: #6F4E37;
    font-weight: 800;
}

.single-blog-latest{
    margin-left: 20px;
    margin-top: 50px;
    color: #6F4E37;
    font-weight: 800;
}
.single-blog-latest hr{
    margin-left: 0;
}