
.register-container{
    width: 100%;
    background-color: #6F4E37;
    justify-self: center;
    border-radius: 5px;
    padding: 10px;
}
.register-container img{
    max-width: 60px;
    cursor: pointer;
}
.register-form-header{
    justify-self: center;
    font-size: 12px;
    text-decoration: underline;
    color: black;
    word-spacing: 20px;
    letter-spacing: 5px;
}
.register-form-container{
    width: 100%;
}

.register-avatar{
    justify-self: center;
}
form{
    margin: 20px;
    color: white;
}

form input{
    width: 90%;
}

form select{
    width: 90%;
    margin-bottom: 10px;
    height: 60px;
    border-radius: 10px;
    padding: 10px;
}

form button{
   width: 90%;
   background-color: black;
   color: white;
   padding: 10px;
   outline: 0;
   border: 0;
   border-radius: 5px;
   cursor: pointer;
}
form a{
    text-decoration: none;
    color: white;
    font-style: italic;
}
form p{
    text-align: center;
    margin-top: 10px;
}

@media (min-width:1024px) {

.register-container{
    width: 50%;
}

.register-form-container{
    width: 90%;
}
.register-form-header{
    font-size: 20px;
}

.register-avatar{
    justify-self: center;
}
form{
    margin: 20px;
    color: white;
}

form input{
    width: 90%;
}

form select{
    width: 100%;
    margin-bottom: 10px;
    height: 60px;
    border-radius: 10px;
    padding: 10px;
}

form button{
   width: 100%;
   background-color: black;
   color: white;
   padding: 10px;
   outline: 0;
   border: 0;
   border-radius: 5px;
   cursor: pointer;
}
form a{
    text-decoration: none;
    color: white;
    font-style: italic;
}
form p{
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
}    
}